@import "../../../common/styles/variables";

.about_block {
  min-height: 30vh;
  background-color: $secondaryColor;
  width: 100%;
  padding-bottom: 200px;
  font-family: Poppins, sans-serif;
  color: #c6c9d8;
  display: flex;
  @media screen and (max-width: 560px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  .aboutContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1260px;
    width: 1210px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    @media screen and (max-width: 800px) {
      width: 760px;
    }
    @media screen and (max-width: 600px) {
      padding-left: 0;
    }
    @media screen and (max-width: 480px) {
      margin-left: 0;
    }


    .avaContainer {
      @media screen and (max-width: 560px) {
        padding-left: 0;

      }

      .ava {
        margin-top: -150px;
        width: 420px;
        border-radius: 30px;
        @media screen and (max-width: 600px) {
          width: 380px;
          margin: 30px 20px;
        }
        @media screen and (max-width: 480px) {
          width: 300px;
        }

      }
    }

    .aboutText {
      padding: 15px;
      text-transform: uppercase;
      color: #c6c9d8;
      margin: 10px 5px;
      font-family: Poppins, sans-serif;
      font-size: 24px;
      line-height: 15px;
      @media screen and (max-width: 1200px) {
        font-size: 20px;
        line-height: 15px;
      }
      @media screen and (max-width: 480px) {
        font-size: 16px;
        line-height: 16px;
      }

      h1 {
        font-weight: 900;
        font-size: 55px;
        line-height: 55px;
        @media screen and (max-width: 480px) {
          font-size: 26px;
          line-height: 16px;
        }
      }

      .email {
        color: #B93527FF;
        text-decoration: underline;
        transition: all 0.4s ease-in-out 0s;

        &:hover {
          color: rgb(128, 37, 28);
        }
      }
    }

    .links {
      margin-top: 16px;
    }
  }
}