@import "../../common/styles/variables";

.main_block {
  min-height:780px;
  background-color: $primaryColor;
  display: flex;
  padding-left: 25px;
  @media screen and (max-width: 1200px) {
    min-height:580px;
    padding: 25px;
  }
  @media screen and (max-width: 600px) {
    min-height:380px;
    padding: 25px;
  }

  .main_container {
    max-width: 1260px;
    width: 1210px;
    margin-right: auto;
    margin-left: auto;


    .title {
      min-width: 320px;
      margin-top: 100px;
      @media screen and (max-width: 480px) {
        margin-top: 60px;
      }

      h1 {
        font-weight: 900;
        font-family: Montserrat, sans-serif;
        font-size: 120px;
        line-height: 95px;
        text-transform: uppercase;
        background: linear-gradient(222deg, #ee076e 33%, #f81f01 66%, #b93527);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0B2349;
        @media screen and (max-width: 1200px) {
          font-size: 80px;
          line-height: 80px;
        }
        @media screen and (max-width: 600px) {
          font-size: 50px;
          line-height: 50px;
        }
        @media screen and (max-width: 480px) {
          font-size: 45px;
          line-height: 45px;
        }
      }
    }

    .inner_photo img {
      width: 300px;
      height: 400px;
      background-color: #937d7d;
    }
  }
}


