@import "../../common/styles/variables";

.skills_block {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: $primaryColor;
  font-family: Poppins, sans-serif;
  color: #c6c9d8;
  .skills_container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    max-width: 1260px;
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
    .title {
      font-weight: 800;
      font-size: 34px;
    }
    .block_skills {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

  }
}

