@import "../common/styles/variables.scss";

.skills_block {
  min-height: 100vh;
  background-color: $primaryColor;
  font-family: Poppins, sans-serif;
  color: #c6c9d8;
  .skills_container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    .title {

    }

    .block_skills {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

  }
}

