
.linksContainer {
  margin-top: 15px;
  a {
    color: #B93527FF;
    transition: all 0.4s ease-in-out 0s;

    &:hover {
      color: rgb(128, 37, 28);

    }
  }

  .link {
    padding: 5px;

  }
}