
.info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 300px;
  font-family: Poppins, sans-serif;
  color: #c6c9d8;
  .item{
    display: flex;
    flex-direction: column;
    min-width: 270px;
    width: 370px;
    .icon{
      height: 70px;
    }

  }
  .item h3 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
  }
}